<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Passtech UI Boilerplate - List of all templates!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch@0.7.2/spacelab/bulmaswatch.min.css">
</head>
<body>
<section class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">All pages</h1>
      <p class="subtitle">List all available templates from <strong>src/views</strong> folder.</p>

      <div class="columns is-mobile">
      {% for template in templates %}
        <div class="column">
          {% set template_button %}
            <a class="button is-medium is-primary is-rounded" href="{{ path_for('templates.view', {'template': template.name}) }}">
              <span class="icon is-small"><i class="fa fa-file"></i></span>
              <span>{{ template.name|capitalize }}</span>
            </a>
          {% endset %}

          {% if template.has_data %}
            <div class="field has-addons">
              <span class="control">{{ template_button }}</span>
              <span class="control">
                <a class="button is-medium is-light is-rounded"
                   href="{{ path_for('templates.data', {'template': template.name}) }}">
                  <span class="icon is-small"><i class="fa fa-code"></i></span>
                </a>
              </span>
            </div>

          {% else %}
            <div class="field">
              {{ template_button }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>
</body>
</html>